{% extends 'userbase.html' %}

{% block title %}User Profile{% endblock %}

{# Set the active page to be highlighted in the navigation bar. #}
{% set active_page = 'profile' %}

{% block content %}
    
<section class="container">
    <form action="{{ url_for('my_password') }}" method="POST">
        <div class="row align-items-center justify-content-center">
            <div class="col-sm-4">
                <div class = "mb-3">
                    <br><h2>{{profile.username}} ({{profile.role}})</h2>
                    <label for="profile_image" class="form-label"></label>
                    <br>
                    <img src="{{ url_for('static', filename='uploads/' + (profile.profile_image)) }}" class="img-rounded" width="200" height="200" alt="profile picture">
                </div>
                <div class="mb-3">
                    <ul class="list-group">
                        {% if session['role'] in ['admin'] %}
                        <li class="list-group-item"><a href="{{url_for('users_list')}}">List of all users</a></li>
                        {% endif %}
                        <li class="list-group-item"><a href="{{url_for('my_details')}}">My details</a></li>
                        <li class="list-group-item"><a href="{{url_for('my_issues')}}">My issues</a></li>
                        <li class="list-group-item"><a href="{{url_for('my_password')}}">My password</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-sm-8">
                <h2>My password</h2>        
                <div class="mb-3">
                    <label for="current_password" class="form-label">Current password</label>
                    <input type="password" class="form-control{% if current_password_error %} is-invalid{% endif %}" id="current_password" name="current_password" placeholder="Enter your current password..." required>
                    <div class="invalid-feedback">{{ current_password_error }}</div>
                </div>
                <div class="mb-3">
                    <label for="new_password" class="form-label">New password</label>
                    <input type="password" class="form-control{% if new_password_error %} is-invalid{% endif %}" id="new_password" name="new_password" placeholder="Choose a new password..." aria-describedby="passwordHelp" required>
                    <div class="invalid-feedback">{{ new_password_error }}</div>
                    <br>
                    <div id="passwordHelp" class="form-text">
                        <ul>
                            <li>At least 8 characters</li>
                            <li>At least one number</li>
                            <li>Uppercase and lowercase letters</li>
                        </ul>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="confirm_password" class="form-label">Confirm password</label>
                    <input type="password" class="form-control{% if confirm_password_error %} is-invalid{% endif %}" id="confirm_password" name="confirm_password" placeholder="Confirm your new password..." required>
                    <div class="invalid-feedback">{{ confirm_password_error }}</div>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Update password</button>
            </div>
        </div>
    </form>
</section>
{% endblock %}